# Arquivos de ambiente local (Contém senhas e chaves reais - NUNCA SUBIR)
.env

# Ambiente Virtual do Python
venv/
.venv/
env/

# Arquivos temporários do Python (Compilados)
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos do VS Code (Configurações locais de workspace)
.vscode/